# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Build
dist/
build/

# Env
.env
.env.*
!.env.example

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# Vite
.vite/

# Prisma (si luego usas)
prisma/dev.db

# Editor
.vscode/
.idea/

# Coverage
coverage/

